<!--
    Lucas Zheng, Emily Mai, Mycroft Lee, Shafin Kazi
    SoftDev 2025
    P01
  -->
{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<!-- <h1>Testing...</h1> -->
<br> <br> <br> <br> <br>
<div class="flex flex-col items-center justify-center space-y-4">
  <h1 class="text-5xl text-red-600 font-bold">Welcome to 2018 Lebron's Multi-Showdown, {{ session['username'] }}!</h1>
</div>

<br> <br>

<div class="flex flex-row items-center justify-center space-x-4">

  <div class="max-w-sm rounded shadow-lg">
    <img class="w-full h-64 object-cover" src="https://compote.slate.com/images/96d554af-9521-4a34-a155-8d64e5ee717e.jpeg?crop=5151%2C3434%2Cx0%2Cy0" alt="Lebron @ Celtics">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">How it works</div>
      <p class="text-gray-700 text-base">
        Simulate a battle between teams consisting of Pokémon, Yu-Gi-Oh! cards, and DND monsters. Choose a team for yourself and a team for the enemy and see who comes out on top!
      </p>
    </div>
  </div>

  <div class="max-w-sm rounded shadow-lg">
    <img class="w-full h-64 object-cover" src="https://elitesportsny.com/app/uploads/2018/01/oklahoma-city-thunder-v-cleveland-cavaliers-1.jpg" alt="Lebron Backshots">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">Choose your team</div>
      <p class="text-gray-700 text-base">
        You can use teams made by anyone in the community, or you can create your own team. It's reccomended to go over the character roster to see who you want to add to your team.
      </p>
    </div>
  </div>

  <div class="max-w-sm rounded shadow-lg">
    <img class="w-full h-64 object-cover" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapercave.com%2Fwp%2Fwp2461291.jpg&f=1&nofb=1&ipt=c436344ae219d8c3f15c3a40063f100bceee4e81cdf2dae83f13ac1c32b595f0" alt="Lebron James">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">Showdown!</div>
      <p class="text-gray-700 text-base">
        On the showdown page, select your team and then the enemy's team. Upon entering the battle, choose each team member's target and the move they should use. Beware, the enemy wont go down without a fight!
      </p>
    </div>
  </div>

</div>

{% endblock %}
