<!--
    Lucas Zheng, Emily Mai, Mycroft Lee, Shafin Kazi
    SoftDev 2025
    P01
  -->
{% extends "base.html" %}

{% block title %}
Roster
{% endblock %}

{% block content %}

<br> <br> <br> <br> <br>

<div class="flex items-center mb-4">
    <input checked id="all" type="checkbox" value="" class="w-4 h-4 border border-default-medium rounded-xs bg-neutral-secondary-medium">
    <label for="all" class="select-none ms-2 text-sm font-medium text-heading">Display all universes</label>
</div>

<div class="relative overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-base border border-default">
    <table class="w-full text-sm text-left rtl:text-right text-body">
        <thead class="bg-neutral-secondary-soft border-b border-default">
            <tr>
                <th scope="col" class="px-6 py-3 font-medium">
                    Name
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    Image
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    Type
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    ATK
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    HP
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    Universe
                </th>
            </tr>
        </thead>
        <tbody>
          {{ table | safe }}
        </tbody>
    </table>
</div>


{% endblock %}
