<!--
    Lucas Zheng, Emily Mai, Mycroft Lee, Shafin Kazi
    SoftDev 2025
    P01
  -->
{% extends "base.html" %}

{% block title %}
Roster
{% endblock %}

{% block content %}

<br> <br> <br> <br> <br>

<form method="GET" action="/roster" class="flex justify-between w-4/5 mx-auto mb-4">

    <label class="flex items-center">
        <input type="radio" name="filter" value="all" checked class="accent-yellow-400">
        <p class="ms-2">Display all universes</p>
    </label>

    <label class="flex items-center">
        <input type="radio" name="filter" value="NBA" class="accent-yellow-400">
        <p class="ms-2">Display NBA only</p>
    </label>

    <label class="flex items-center">
        <input type="radio" name="filter" value="Pokemon" class="accent-yellow-400">
        <p class="ms-2">Display Pokémon only</p>
    </label>

    <label class="flex items-center">
        <input type="radio" name="filter" value="DND" class="accent-yellow-400">
        <p class="ms-2">Display DND only</p>
    </label>

    <label class="flex items-center">
        <input type="radio" name="filter" value="Yu-Gi-Oh!" class="accent-yellow-400">
        <p class="ms-2">Display Yu-Gi-Oh! only</p>
    </label>

    <button type="submit" class="bg-yellow-400 hover:bg-yellow-600 font-bold py-2 px-4 rounded transition duration-200 hover:scale-105">Filter</button>
</form>


<div class="relative overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-base border border-default">
    <table class="w-full text-sm text-left rtl:text-right text-body">
        <thead class="bg-neutral-secondary-soft border-b border-default">
            <tr>
                <th scope="col" class="px-6 py-3 font-medium">
                    Name
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    Image
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    ID
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    Type
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    ATK
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    HP
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    Universe
                </th>
            </tr>
        </thead>
        <tbody>
          {% for list in lists %}
          <tr class="odd:bg-neutral-primary even:bg-neutral-secondary-soft border-b border-default hover:bg-red-500 hover:text-neutral-50">
            <th scope="row" class="px-6 py-4 font-medium text-heading whitespace-nowrap">
                {{list[0]}}
            </th>
            <td class="px-6 py-4">
                <img class="w-24 h-32 object-cover" src={{list[1]}}>
            </td>
            <td class="px-6 py-4">
                {{list[2]}}
            </td>
            <td class="px-6 py-4">
                {{list[3]}}
            </td>
            <td class="px-6 py-4">
                {{list[4]}}
            </td>
            <td class="px-6 py-4">
                {{list[5]}}
            </td>
            <td class="px-6 py-4">
                {{list[6]}}
            </td>
          </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}
