<!--
    Lucas Zheng, Emily Mai, Mycroft Lee, Shafin Kazi
    SoftDev 2025
    P01
  -->
{% extends "base.html" %}

{% block title %}
Team Select
{% endblock %}

{% block content %}
<br> <br> <br> <br> <br>

<form method="GET" action="/teamselect" class="flex justify-between w-4/5 mx-auto mb-4">

    <label class="flex items-center">
        <input type="radio" name="filter" value="all" checked class="accent-yellow-400">
        <p class="ms-2">Display all universes</p>
    </label>

    <label class="flex items-center">
        <input type="radio" name="filter" value="NBA" class="accent-yellow-400">
        <p class="ms-2">Display NBA only</p>
    </label>

    <label class="flex items-center">
        <input type="radio" name="filter" value="Pokemon" class="accent-yellow-400">
        <p class="ms-2">Display Pokémon only</p>
    </label>

    <label class="flex items-center">
        <input type="radio" name="filter" value="DND" class="accent-yellow-400">
        <p class="ms-2">Display DND only</p>
    </label>

    <label class="flex items-center">
        <input type="radio" name="filter" value="Yu-Gi-Oh!" class="accent-yellow-400">
        <p class="ms-2">Display Yu-Gi-Oh! only</p>
    </label>

    <button type="submit" class="bg-yellow-400 hover:bg-yellow-600 font-bold py-2 px-4 rounded transition duration-200 hover:scale-105">Filter</button>
</form>

<form method="POST" action="/teamselect">

  {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="space-y-4 mt-4">
        {% for message in messages %}
        <div
          class="flex w-4/5 mx-auto px-4 py-3 rounded bg-red-100 border border-red-400 text-red-700"
          role="alert"
        >
          {{ message }}
        </div>
        {% endfor %}
      </div>
      {% endif %}
    {% endwith %}

  <div class="flex justify-center mt-4 mb-4">
    <button type="submit" class="bg-yellow-400 hover:bg-yellow-600 font-bold py-2 px-4 rounded transition duration-200 hover:scale-105">Submit Team</button>
    <a href="/viewteam" class="text-red-500 hover:bg-text-700 px-8 font-bold">View all teams</a>
  </div>

  <div class="flex w-4/5 mx-auto flex-row items-center justify-center">
    <div class="grid grid-cols-6">
      {% for list in lists %}
      <div class="col-span-1">
        <div class="rounded shadow-lg ms-2 items-center p-2 text-center">
          <img class="w-24 h-32 object-cover mx-auto" src="{{list[1]}}">
          <p class="font-semibold">{{list[2]}} | {{list[0]}}</p>
          <label class="block mt-2">
            <input type="checkbox" name="team" value="{{list[2]}}" class="accent-yellow-400">
            Add to team
          </label>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</form>



{% endblock %}
