<!--
    Lucas Zheng, Emily Mai, Mycroft Lee, Shafin Kazi
    SoftDev 2025
    P01
  -->
{% extends "base.html" %}

{% block title %}
Team Select
{% endblock %}

{% block content %}
<br> <br> <br> <br>
<div class="flex w-4/5 mx-auto flex-row items-center justify-center">

  <div class="grid grid-cols-6">

    <div class="col-span-1">
      <div class="rounded shadow-lg ms-2 flex item-center">
        <img class="w-24 h-32 object-cover" src="https://compote.slate.com/images/96d554af-9521-4a34-a155-8d64e5ee717e.jpeg?crop=5151%2C3434%2Cx0%2Cy0">
        <div class="px-6 py-4">
          <button type="submit" class="bg-yellow-400 hover:bg-yellow-600 font-bold py-1 px-2 rounded transition duration-200 hover:scale-105">Add to team</button>
        </div>
      </div>
    </div>

    <div class="col-span-1">
      <div class="rounded shadow-lg ms-2 flex item-center">
        <img class="w-24 h-32 object-cover" src="https://compote.slate.com/images/96d554af-9521-4a34-a155-8d64e5ee717e.jpeg?crop=5151%2C3434%2Cx0%2Cy0">
        <div class="px-6 py-4">
          <button type="submit" class="bg-yellow-400 hover:bg-yellow-600 font-bold py-1 px-2 rounded transition duration-200 hover:scale-105">Add to team</button>
        </div>
      </div>
    </div>

    <div class="col-span-1">
      <div class="rounded shadow-lg ms-2 flex item-center">
        <img class="w-24 h-32 object-cover" src="https://compote.slate.com/images/96d554af-9521-4a34-a155-8d64e5ee717e.jpeg?crop=5151%2C3434%2Cx0%2Cy0">
        <div class="px-6 py-4">
          <button type="submit" class="bg-yellow-400 hover:bg-yellow-600 font-bold py-1 px-2 rounded transition duration-200 hover:scale-105">Add to team</button>
        </div>
      </div>
    </div>

    <div class="col-span-1">
      <div class="rounded shadow-lg ms-2 flex item-center">
        <img class="w-24 h-32 object-cover" src="https://compote.slate.com/images/96d554af-9521-4a34-a155-8d64e5ee717e.jpeg?crop=5151%2C3434%2Cx0%2Cy0">
        <div class="px-6 py-4">
          <button type="submit" class="bg-yellow-400 hover:bg-yellow-600 font-bold py-1 px-2 rounded transition duration-200 hover:scale-105">Add to team</button>
        </div>
      </div>
    </div>

    <div class="col-span-1">
      <div class="rounded shadow-lg ms-2 flex item-center">
        <img class="w-24 h-32 object-cover" src="https://compote.slate.com/images/96d554af-9521-4a34-a155-8d64e5ee717e.jpeg?crop=5151%2C3434%2Cx0%2Cy0">
        <div class="px-6 py-4">
          <button type="submit" class="bg-yellow-400 hover:bg-yellow-600 font-bold py-1 px-2 rounded transition duration-200 hover:scale-105">Add to team</button>
        </div>
      </div>
    </div>

    <div class="col-span-1">
      <div class="rounded shadow-lg ms-2 flex item-center">
        <img class="w-24 h-32 object-cover" src="https://compote.slate.com/images/96d554af-9521-4a34-a155-8d64e5ee717e.jpeg?crop=5151%2C3434%2Cx0%2Cy0">
        <div class="px-6 py-4">
          <button type="submit" class="bg-yellow-400 hover:bg-yellow-600 font-bold py-1 px-2 rounded transition duration-200 hover:scale-105">Add to team</button>
        </div>
      </div>
    </div>

  </div>

</div>


{% endblock %}
